.card {
    max-width: 400px;
    margin: auto;
    top: 20%;

    .title {
        font-size: 20px;
        margin-left: 110px;
        color: beige;
    }

    .login-button {
        margin-left: 145px;
    }
}